.home {
  background: url(img/niagara.jpg) 100% / cover no-repeat;
}
.signup-button {
  border-radius: 5px;
  background: #c63f3f;
  color: #fff;
  box-shadow: 0 6px #a23030;
  transition: 0.1s ease-out;
  border: none;
  cursor: pointer;
  padding: 25px 50px;
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  top: 0;
  height: auto;
  outline: 0;
  position: relative;
  width: auto;
}
@media (min-width: 768px) {
  .signup-button {
    width: 250px;
    height: auto;
    margin: 30px auto;
  }
}
.signup-button:active,
.signup-button:focus,
.signup-button:hover {
  transition: 0.1s ease-in;
  background: #a23030;
  box-shadow: 0 4px #a23030;
  top: 2px;
}
.tournament-schedule {
  display: inline-block;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
body.sticky nav {
  position: fixed;
  width: 100%;
  transition: 0.2s top, 0.2s position ease-in;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  bottom: unset;
  top: 0;
}
body.sticky .sticky_logo_container {
  max-width: 100px;
  width: auto;
  transition: all 0.5s;
}
.sticky_logo_container {
  width: 0;
  overflow: hidden;
  transition: all 0.5s;
}
nav {
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  position: absolute;
}
@media (min-width: 768px) {
  .tournament-schedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav {
    position: relative;
    top: 0;
  }
  nav .menu-toggle {
    display: none;
  }
}
nav .menu-toggle {
  top: 24px;
  z-index: 2;
  right: 12px;
  width: 22px;
  height: 4px;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  background-color: #333;
}
nav .menu-toggle span {
  height: 4px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  background-color: #fff;
  border-radius: 2px;
  white-space: nowrap;
  transition: background 0.3s ease-in-out;
}
nav .menu-toggle::after,
nav .menu-toggle::before {
  left: 0;
  content: "";
  width: 22px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  transform-origin: center center;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out,
    top 0.2s ease-in-out, right 0.2s ease-in-out;
}
nav .menu-toggle::before {
  top: 0;
}
nav .menu-toggle::after {
  bottom: 0;
}
nav .menu-toggle.menu-open span {
  background-color: transparent;
}
nav .menu-toggle.menu-open::after,
nav .menu-toggle.menu-open::before {
  top: 10px;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
}
nav .menu-toggle.menu-open::before {
  transform: rotate(-45deg);
}
nav .menu-toggle.menu-open::after {
  transform: rotate(45deg);
}
nav .menu {
  margin: 0;
  z-index: 1;
  width: 100%;
  padding: 0;
  height: 70px;
  background-color: #333;
  position: fixed;
  transition: 0.2s top, 0.2s position ease-out, 0.2s background-color ease-out;
  box-shadow: 0 0 1px #fff;
}
nav .menu ul,
nav .menu.active ul {
  transition: transform 0.1s cubic-bezier(1, 0.5, 0, 1);
}
@media (min-width: 768px) {
  nav .menu {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    box-shadow: none;
  }
}
nav .menu.active ul {
  text-align: left;
  transform: translateX(0);
  background-color: #333;
  box-shadow: 0 0 1px #fff;
  margin-top: 70px;
  opacity: 1;
}
nav .menu.active ul a {
  text-align: left;
}
nav .menu ul {
  transform: translateX(100%);
  opacity: 0;
}
@media (min-width: 768px) {
  nav .menu ul {
    justify-content: center;
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }
}
nav .menu .menu-item {
  list-style: none;
  padding: 20px;
  color: #fff;
  display: block;
  background: 0 0;
  line-height: 1;
  font-size: 1.125em;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}
@media (min-width: 768px) {
  nav .menu .menu-item {
    padding: 35px 16px;
  }
}
nav .menu .menu-item:focus,
nav .menu .menu-item:hover {
  background: #c63f3f;
}
.icon,
.icon-anchor {
  height: 40px;
  width: 85px;
  display: block;
  transform: scale(1);
  transition: 0.2s ease-out;
}
.icon-anchor:focus,
.icon-anchor:hover,
.icon:focus,
.icon:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
  outline: 0;
  background-color: transparent;
}
.social {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 40px 20px;
}
.contact-information {
  display: inline-block;
}
.contact-information .contact-link {
  display: block;
}
.info {
  background: url(img/net.jpg) 100% / cover no-repeat;
}
.tabs {
  width: 100%;
  margin: 40px auto 0;
  background-color: #fff;
  height: auto;
  border: 2px solid #000;
  display: inline-block;
}
.tabs .tab-panel {
  display: none;
  text-align: left;
}
.tabs .tab-panel.active {
  display: block;
  padding: 20px;
}
.tabs .tab-panel .info-title {
  font-weight: 700;
  margin: 20px 0;
  font-size: 24px;
  text-align: center;
}
.tabs .tab-panel .info-header {
  font-weight: 700;
  margin: 20px auto 0;
  font-size: 20px;
  padding: 0;
}
.tabs .tab-panel .info-copy {
  padding: 0;
  margin: 0;
}
.tabs div .tab-link {
  text-align: center;
  padding: 10px;
  display: block;
  background-color: #333;
  border: 1px solid #000;
  color: #fff;
  width: auto;
}
@media (min-width: 768px) {
  .tabs div .tab-link {
    margin: 20px auto;
    border: 2px solid #000;
    display: inline;
  }
}
.tabs div .tab-link.active,
.tabs div .tab-link:active,
.tabs div .tab-link:focus,
.tabs div .tab-link:hover {
  background: #c63f3f;
  cursor: pointer;
}
.tabs div ol,
.tabs div p {
  padding: 10px 20px;
}
.tabs div li {
  padding: 10px;
}
.attraction-container {
  margin: 40px auto;
  background-color: #333;
  border-radius: 4px;
  width: 80%;
  padding: 20px;
}
.attraction-container li {
  text-align: center;
  color: #fff;
}
.attraction-container .attraction-item {
  color: #fff;
  font-size: 20px;
}
.attraction-container .attraction-item:hover {
  color: #333;
}
.form {
  background: url(img/puck.jpg) 100% / cover no-repeat;
}
fieldset {
  margin: 20px 0;
}
.form-group {
  display: inline-block;
  width: 100%;
}
.form-group .form-control-name {
  display: none;
}
.form-group > .form-control,
.form-group > select,
.form-group > textarea {
  width: 100%;
  text-align: left;
  padding: 20px 0 0 20px;
  height: 70px;
}
.checkbox-main {
  padding: 0 0 40px;
}
.checkbox-span {
  display: inline-block;
  position: relative;
}
.checkbox-container {
  display: flex;
  width: auto;
  margin: 0 auto;
}
@media (min-width: 512px) {
  .checkbox-container {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .checkbox-container {
    width: 30%;
  }
}
input[type="checkbox"] + label {
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
}
.button.form-button,
.pp-button {
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  outline: 0;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + .checkbox-label:before {
  content: "\2714";
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 6px;
  display: inline-block;
  margin-right: 24px;
  color: transparent;
  transition: 0.2s;
  width: 60px;
  height: 60px;
}
input[type="checkbox"] + .checkbox-label:active:before {
  transform: scale(0);
}
input[type="checkbox"]:checked + .checkbox-label:before {
  background-color: #c63f3f;
  border-color: #c63f3f;
  color: #fff;
  font-size: 40px;
}
.button.form-button {
  border-radius: 5px;
  background: #c63f3f;
  color: #fff;
  box-shadow: 0 6px #a23030;
  transition: 0.1s ease-out;
  border: none;
  padding: 25px 50px;
  margin: 30px 20px;
  display: flex;
  top: 0;
  height: 100%;
  width: auto;
}
@media (min-width: 768px) {
  .button.form-button {
    width: 250px;
    height: auto;
    margin: 30px auto;
  }
}
.button.form-button:active,
.button.form-button:focus,
.button.form-button:hover {
  transition: 0.1s ease-in;
  background: #a23030;
  box-shadow: 0 4px #a23030;
  top: 2px;
}
.form-container {
  width: 700px;
  height: 2500px;
  display: flex;
  margin: 0 auto;
}
.prices {
  background: url(img/skates.jpg) 100% / cover no-repeat;
}
.tournament-selection {
  text-align: left;
  width: 100%;
  padding: 20px 0 0 20px;
  height: 70px;
  border: 0;
}
.tournament-selection.floating_label + label > span {
  font-size: 12px;
  left: 20px;
  top: -70px;
  text-transform: uppercase;
}
.paypal-checkout {
  background-color: #333;
  color: #fff;
  width: auto;
  padding: 10px 20px;
  height: auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 14px 0 rgba(15, 46, 77, 0.2);
  margin: 30px auto;
}
@media (min-width: 768px) {
  .paypal-checkout {
    padding: 40px;
  }
}
.svg-spinner {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
  margin: 20px auto;
}
.svg-spinner .path {
  stroke: #d82c2c;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.pp-button {
  border-radius: 5px;
  background: #f7c557;
  color: #fff;
  box-shadow: 0 6px #f5b426;
  transition: 0.1s ease-out;
  border: none;
  padding: 25px 50px;
  display: flex;
  top: 0;
  height: 25px;
  width: auto;
  box-sizing: content-box;
  margin: 30px 0;
}
@media (min-width: 768px) {
  .pp-button {
    width: 250px;
    height: 25px;
    margin: 30px auto;
  }
}
.pp-button:active,
.pp-button:focus,
.pp-button:hover {
  transition: 0.1s ease-in;
  background: #f5b426;
  box-shadow: 0 4px #f5b426;
  top: 2px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input,
select,
textarea {
  font-size: 16px;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 6px;
  font-family: "Exo 2", sans-serif;
  height: auto;
  padding: 20px;
  margin: 8px 0;
  width: auto;
  text-align: center;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
}
.ice-rentals ol,
.letter,
.tournament-details {
  text-align: left;
}
input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 1px 2px #3b99fc;
}
input.floating_label + label > span,
input:focus + label > span,
select.floating_label + label > span,
select:focus + label > span,
textarea.floating_label + label > span,
textarea:focus + label > span {
  font-size: 12px;
  left: 20px;
  top: -70px;
  text-transform: uppercase;
}
input + label,
select + label {
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  transition: width 0.4s ease;
  white-space: nowrap;
}
input + label > span,
select + label > span {
  color: #333;
  font-size: 14px;
  font-family: monospace;
  left: 20px;
  margin: 0;
  position: absolute;
  top: -56px;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  line-height: 2;
}
.contact-information .direction-submit,
body,
html {
  font-family: "Exo 2", sans-serif;
}
@media (min-width: 768px) {
  input + label > span,
  select + label > span {
    top: -60px;
    font-size: 16px;
  }
}
.select_box {
  position: relative;
}
.select_box::after {
  border: 2px solid #333;
  border-right: 0;
  border-top: 0;
  content: "";
  height: 10px;
  position: absolute;
  right: 20px;
  top: 35px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 10px;
}
@media (min-width: 768px) {
  .select_box::after {
    height: 10px;
    right: 30px;
    top: 33px;
  }
}
input.form_error,
select.form_error {
  background-color: #fff5f5;
  border: 2px solid #eb0000;
}
.contact {
  background: url(img/falls.jpg) 100% / cover no-repeat;
}
.contact-information {
  width: 100%;
}
.contact-information.header {
  padding: 50px 0;
}
.contact-information input {
  text-align: left;
  padding: 20px 0 0 20px;
  height: 70px;
}
.contact-information .direction-submit {
  border-radius: 5px;
  background: #c63f3f;
  color: #fff;
  box-shadow: 0 6px #a23030;
  transition: 0.1s ease-out;
  border: none;
  cursor: pointer;
  padding: 25px 50px;
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  top: 0;
  outline: 0;
  position: relative;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media (min-width: 768px) {
  .contact-information .direction-submit {
    width: 250px;
    height: auto;
    margin: 30px auto;
  }
}
.contact-information .direction-submit:active,
.contact-information .direction-submit:focus,
.contact-information .direction-submit:hover {
  transition: 0.1s ease-in;
  background: #a23030;
  box-shadow: 0 4px #a23030;
  top: 2px;
}
.contact-information #map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  overflow: visible;
}
.contact-information .team {
  display: inline-block;
}
.contact-information .team-member {
  display: block;
  margin: 10px 0;
}
.upcoming-tournament {
  list-style-type: none;
  width: 100%;
  margin: 30px auto;
  padding: 20px 0;
  background-color: #333;
  line-height: 1.25;
  height: 200px;
  perspective: 1000px;
  border-radius: 5px;
  box-shadow: 0 5px 14px 0 rgba(15, 46, 77, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .upcoming-tournament {
    margin: 20px;
    padding: 40px;
    height: 90px;
    width: 50%;
    line-height: 2;
  }
}
.upcoming-tournament a,
.upcoming-tournament h4,
.upcoming-tournament p {
  color: #fff;
  margin: 0 20px;
  line-height: 2;
}
.upcoming-tournament.active .flip-card,
.upcoming-tournament:focus .flip-card,
.upcoming-tournament:hover .flip-card {
  cursor: pointer;
  transform: rotateY(180deg);
}
.back,
.flip-card,
.front {
  transform-style: preserve-3d;
}
@media (min-width: 1012px) {
  .upcoming-tournament {
    width: 33%;
  }
}
.back,
.flip-card,
.front {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back:active,
.back:focus,
.back:hover,
.flip-card:active,
.flip-card:focus,
.flip-card:hover,
.front:active,
.front:focus,
.front:hover {
  cursor: pointer;
}
.flip-card {
  transition: 0.4s ease;
  position: relative;
}
.back,
.front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 512px) {
  .back {
    top: 0;
  }
}
.front {
  z-index: 2;
  transform: rotateY(0);
}
.back {
  transform: rotateY(180deg);
}
.icerentals {
  background: url(img/hockey-2.jpg) 100% / cover no-repeat;
}
.ice-rentals ol li {
  padding: 10px;
}
.ice-rentals .button {
  border-radius: 5px;
  background: #c63f3f;
  color: #fff;
  box-shadow: 0 6px #a23030;
  transition: 0.1s ease-out;
  border: none;
  cursor: pointer;
  padding: 25px 50px;
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  top: 0;
  height: auto;
  outline: 0;
  width: auto;
  position: relative;
}
.ice-rentals .button:active,
.ice-rentals .button:focus,
.ice-rentals .button:hover {
  transition: 0.1s ease-in;
  background: #a23030;
  box-shadow: 0 4px #a23030;
  top: 2px;
}
.sheraton-hero {
  background: url(img/sheraton.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .ice-rentals .button {
    width: 250px;
    height: auto;
    margin: 30px auto;
  }
  .sheraton-hero {
    background: url(img/sheraton.jpg) 100% / cover no-repeat;
  }
}
.four-points-hero {
  background: url(img/four-points-sheraton.jpg) 50% 50% / cover no-repeat;
}
@media (min-width: 768px) {
  .four-points-hero {
    background: url(img/four-points-sheraton.jpg) 100% 30% / cover no-repeat;
  }
}
.radisson-hero {
  background: url(img/radisson.jpeg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .radisson-hero {
    background: url(img/radisson.jpeg) 100% / cover no-repeat;
  }
}
.holiday-inn-hero {
  background: url(img/holiday-inn.jpeg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .holiday-inn-hero {
    background: url(img/holiday-inn.jpeg) 100% / cover no-repeat;
  }
}
.days-inn-hero {
  background: url(img/daysinn.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .days-inn-hero {
    background: url(img/daysinn.jpg) 100% / cover no-repeat;
  }
}
.hampton-hero {
  background: url(img/hampton.jpg) 70% 50% / cover no-repeat;
}
@media (min-width: 768px) {
  .hampton-hero {
    background: url(img/hampton.jpg) 100% / cover no-repeat;
  }
}
.adams-mark-hero {
  background: url(img/adams-mark.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .adams-mark-hero {
    background: url(img/adams-mark.jpg) 100% / cover no-repeat;
  }
}
.riverside-hero {
  background: url(img/riverside-banner.jpeg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .riverside-hero {
    background: url(img/riverside-banner.jpeg) 100% / cover no-repeat;
  }
}
.doubletree-hero {
  background: url(img/doubletree.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .doubletree-hero {
    background: url(img/doubletree.jpg) 100% / cover no-repeat;
  }
}
.laquinta-hero {
  background: url(img/laquinta.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .laquinta-hero {
    background: url(img/laquinta.jpg) 100% / cover no-repeat;
  }
}
.mariott-hero {
  background: url(img/mariott-bg.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .mariott-hero {
    background: url(img/mariott-bg.jpg) 100% / cover no-repeat;
  }
}
.hyatt-place-hero {
  background: url(img/hyatt-place-hero.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .hyatt-place-hero {
    background: url(img/hyatt-place-hero.jpg) 100% / cover no-repeat;
  }
}
.wyndham-hero {
  background: url(img/wyndham.jpg) 0% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .wyndham-hero {
    background: url(img/wyndham.jpg) 0% 0% / cover no-repeat;
  }
}
.comfort-hero {
  background: url(img/comfort.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .comfort-hero {
    background: url(img/comfort.jpg) 100% 10% / cover no-repeat;
  }
}
.quality-hero {
  background: url(img/quality-banner.jpg) 50% 100% / cover no-repeat;
}
@media (min-width: 768px) {
  .quality-hero {
    background: url(img/quality-banner.jpg) 100% 10% / cover no-repeat;
  }
}
.hotel-ad {
  border: 5px solid #000;
  max-width: 100%;
  display: block !important;
}
.hotel-block {
  width: 80%;
  height: auto;
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  padding: 20px;
  display: block;
  margin: 40px auto;
}
.download_links .form_document,
.hotel-block .flex-item .signup-button,
.signup-lockup .button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}
.hotel-block .flex-item {
  flex: 1 1 0;
  margin: 20px;
}
.hotel-block .flex-item .signup-button {
  border-radius: 5px;
  background: #c63f3f;
  box-shadow: 0 6px #a23030;
  transition: 0.1s ease-out;
  border: none;
  margin: 30px 10px;
  top: 0;
  height: auto;
  width: auto;
  position: relative;
  padding: 25px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .hotel-block {
    display: flex;
  }
  .hotel-block .flex-item .signup-button {
    width: 250px;
    height: auto;
    margin: 30px 0 auto;
  }
}
.hotel-block .flex-item .signup-button:active,
.hotel-block .flex-item .signup-button:focus,
.hotel-block .flex-item .signup-button:hover {
  transition: 0.1s ease-in;
  background: #a23030;
  box-shadow: 0 4px #a23030;
  top: 2px;
}
.hotel-block .hotel-name,
.hotel-block .hotel-price {
  font-size: 20px;
}
.hotel-block .hotel-perks {
  list-style: disc;
  margin-left: 10px;
}
.hotel-block .hotel-perks li {
  padding: 3px 0;
}
.hotel-block .hotel-logo {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .hotel-block .hotel-logo {
    margin-top: 70px;
  }
}
.hotel-block .hotel-logo.sheraton,
.hotel-logo.hampton {
  width: 100%;
  height: auto;
}
.hotel-block .hotel-logo.adams,
.hotel-block .hotel-logo.days,
.hotel-block .hotel-logo.four-points,
.hotel-block .hotel-logo.holiday {
  width: 150px;
}
@media (min-width: 512px) {
  .hotel-block .hotel-logo.adams,
  .hotel-block .hotel-logo.days,
  .hotel-block .hotel-logo.four-points,
  .hotel-block .hotel-logo.hyatt,
  .hotel-block .hotel-logo.holiday {
    width: 200px;
  }
}
.hotel-block .hotel-logo.hyatt,
.hotel-block .hotel-logo.radisson {
  width: 150px;
  height: auto;
}
@media (min-width: 512px) {
  .hotel-block .hotel-logo.radisson {
    width: 183px;
    height: 67px;
  }
  .hotel-block .hotel-logo.sheraton {
    width: 100%;
  }
}
.hotel-link {
  color: white;
  text-decoration: underline;
}
li > .hotel-link:hover {
  color: #333;
}
.hero,
.signup-lockup .button {
  position: relative;
  height: auto;
}
.tournament {
  background: url(img/hockey-4.jpg) 100% 0 / cover no-repeat;
}
.tournament-button-group {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 512px) {
  .tournament-button-group {
    flex-direction: row;
  }
  .tournament-button-group .signup-button {
    flex: 1 1 auto;
  }
}
.tournament-button-group .signup-button {
  margin: 20px;
  padding: 25px;
}
.tournament-forms {
  background: url(img/hockey-6.jpg) 100% / cover no-repeat;
}
.letter {
  margin-top: 40px;
}
.download_links {
  text-align: center;
}
.download_links .form_document {
  border-radius: 5px;
  background: #c63f3f;
  box-shadow: 0 6px #a23030;
  transition: 0.1s ease-out;
  border: none;
  padding: 25px 50px;
  justify-content: center;
  top: 0;
  height: auto;
  width: auto;
  position: relative;
  display: block;
  margin: 20px auto;
}
.download_links .form_document:active,
.download_links .form_document:focus,
.download_links .form_document:hover {
  transition: 0.1s ease-in;
  background: #a23030;
  box-shadow: 0 4px #a23030;
  top: 2px;
}
@media (min-width: 768px) {
  .download_links .form_document {
    margin: 30px auto;
    width: 250px;
    height: auto;
  }
}
.hero.signup {
  background: url(img/hockey-4.jpg) 100% / cover no-repeat;
}
.signup-information {
  text-align: left;
}
.confirm-submission {
  display: flex;
  align-items: center;
}
.confirm-submission h3 {
  margin-right: 20px;
}
.confirm-submission fieldset {
  width: 300px;
}
.signup-lockup {
  text-align: center;
  margin-top: 40px;
}
.signup-lockup h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.signup-lockup .button {
  border-radius: 5px;
  background: #c63f3f;
  box-shadow: 0 6px #a23030;
  transition: 0.1s ease-out;
  border: none;
  padding: 25px 50px;
  margin: 10px 20px 30px;
  display: flex;
  justify-content: center;
  top: 0;
  width: auto;
}
body,
html,
ul {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .signup-lockup .button {
    width: 250px;
    height: auto;
    margin: 30px auto;
  }
}
.signup-lockup .button:active,
.signup-lockup .button:focus,
.signup-lockup .button:hover {
  transition: 0.1s ease-in;
  background: #a23030;
  box-shadow: 0 4px #a23030;
  top: 2px;
}
body,
html {
  box-sizing: border-box;
  background-color: #f1f1f1;
  color: #333;
}
footer,
main {
  text-align: center;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px 0;
  margin: 0;
  line-height: 1.25;
}
h1 {
  position: relative;
  z-index: 1;
  font-size: 40px;
  color: #fff;
  padding-bottom: 50px;
  text-shadow: 2px 2px 2px #000;
}
@media (min-width: 768px) {
  h1 {
    font-size: 50px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1012px) {
  h1 {
    font-size: 64px;
  }
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  transition: 0.4s ease;
  cursor: pointer;
  background-color: #ffc;
}
ul {
  list-style: none;
}
.hero {
  padding: 40px;
}
.overlay::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(85, 84, 84, 0.4);
  z-index: 0;
}
.block {
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .block {
    padding: 40px;
  }
  .block_top {
    padding: 0 20px 40px;
  }
}
.block_top {
  padding: 0 20px 40px;
}
.block_bottom {
  padding: 40px 20px 0;
}
@media (min-width: 768px) {
  .block_bottom {
    padding: 40px 40px 0;
  }
}
.block_narrow {
  padding: 0 20px;
}
.logo-container:hover {
  background-color: transparent;
}
.logo-container .logo {
  width: 200px;
  height: 200px;
  margin-top: 64px;
}
@media (min-width: 768px) {
  .block_narrow {
    padding: 0 40px;
  }
  .logo-container .logo {
    width: 250px;
    height: 250px;
  }
}
.contact-links {
  width: auto;
  display: inline-block;
}
.contact-links a {
  display: block;
  color: #333;
}
.contact-links a:hover {
  background-color: #ffc;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(2000px);
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    transform: scale(0.475) translateY(-60px);
    animation-timing-function: ease-out;
  }
}
.zoomInUp {
  animation-name: zoomInUp;
}
.hide {
  display: none;
  transition: 0.2s ease-out;
}
@media (max-width: 512px) {
  .hide_sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide_lg,
  .hide_md {
    display: none;
  }
}
.hide_text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.mobile-logo {
  width: 50px;
  height: 50px;
  left: 15px;
  top: 10px;
  position: fixed;
  z-index: 10;
}
.sticky_logo {
  width: 50px;
  height: 50px;
  padding: 16px;
  transition: 0.2s ease-in;
}
.hidden {
  display: none;
}
.highlighted_text {
  color: #c63f3f;
  font-weight: 700;
}
.standings-frame {
  height: 600px;
  padding: 20px;
}
.modal-dialog {
  margin: auto 1rem;
  opacity: 0;
  transform: translateY(-100px);
  transition: 300ms opacity ease-out, 300ms transform ease-out;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: scroll;
  outline: 0;
  text-align: center;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-title {
  margin: 0;
  line-height: 1.5;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
}
.modal-header button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.modal.animate-modal .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.show-modal.modal {
  display: flex;
  flex-direction: column;
  background: white;
}

.logo-modal {
  width: auto;
  height: 150px;
  margin: 0 auto;
}

.modal-header-container {
  display: block;
}

@media (min-width: 768px) {
  .modal-header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 140px;
  }
}

.close {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 50px;
  right: 30px;
}

.close:hover {
  cursor: pointer;
}

.modal > p {
  width: 80%;
  margin: 10px auto;
}

.urgent {
  color: red;
}

.modal-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.modal-list > ul {
  margin-bottom: 10px;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.modal-list > ul > li {
  text-align: left;
  font-size: 14px;
}

.contact-links.links {
  padding-bottom: 40px;
}
