html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: inherit;
}

.browsehappy {
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 2em 0;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-size: 100% 100%;
    height: 400px;
    font-family: 'Exo 2', sans-serif;
    position: relative;
}

.main {
    background: url('../img/morning-niagara-fall-wallpaper.jpg') no-repeat;
    background-size: cover;
}

.main-header {
    background: url('../img/falls.jpg')no-repeat;
    background-size: cover;
}

.tourney {
    background: url('../img/hockeyshot.png') no-repeat;
    background-size: cover;
}

.infopage {
    background: url('../img/net.jpg') no-repeat;
    background-size: cover;
}

.registration {
    background: url('../img/hockeypic04.jpg') no-repeat;
    background-size: cover;
}

.who {
    background: url('../img/registration.jpg') no-repeat;
    background-size: cover;
}

.Signup-Page {
    background: url('../img/Hockey.png') no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: 53px;
    background: gray;
    background: rgba(0, 0, 0, 0.6);
}

nav ul {
    text-align: center;
    line-height: 3;
    font-weight: bold;
    font-size: 14px;
}

nav li {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5.5px;
}

nav a {
    color: white;
    text-shadow: 3px 3px 3px black;
    text-decoration: none;
}

nav li:hover,
nav li:focus {
    text-shadow: none;
    text-decoration: none;
    background: red;
    background: rgba(215, 44, 44, 0.8);
    width: auto;
    height: inherit;
    transition: 0.7s ease;
}

nav a:hover,
nav a:focus {
    opacity: 0.9;
}

.icon-menu {
    background: rgba(158, 158, 158, 1);
    height: 50px;
    width: 250px;
    position: fixed;
    right: 0;
    top: 30%;
    margin: 0 auto;
    line-height: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
    box-shadow: 4px 4px 4px black;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
}

.icon-menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-menu:hover {
    cursor: pointer;
}

.logo {
    text-align: center;
    margin: 40px auto;
}

.logo a {
    width: 150px;
    height: 150px;
    margin: 100px auto;
    width: 100%;
}

h2 {
    color: black;
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}

.ie8 h2,
.ie9 h2 {
    color: white;
}

.tournament, .tournament-schedule {
    padding: 40px;
}

.tournament-schedule ul {
    background: red;
    background: rgba(215, 44, 44, 0.8);
    text-align: center;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px 5px 5px;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 2px 2px 2px black;
    box-shadow: 0px 0px 13px white;
}

.tournament-schedule li {
    padding: 20px;
    text-align: center;
}

.tournament, .tournament-schedule a {
    text-decoration: none;
    color: white;
}

.tournament, .tournament-schedule h1,
h3,
h6 {
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.8em;
}

.tournament h6 {
    font-size: 20px;
}

.features h2 {
    color: white;
    font-size: 1.6em;
    text-shadow: 2px 2px 2px black;
    margin: 15px auto 15px auto;
}

.features p {
    padding: 6px;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.tabs-nav li {
    display: inline-block;
}

.tabs-nav li:first-child a {
    border-right: 0;
}

.tabs-nav a {
    background: #f5f7f5;
    border: 1px solid #c6c9cc;
    color: #8c9198;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    width: 111px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tabs-nav .tab-active a {
    background: #fff;
    border-bottom-color: transparent;
    color: red;
    color: rgba(215, 44, 44, 0.8);
    cursor: default;
}

.tabs-stage {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    border-top: 0;
    clear: both;
    position: relative;
    top: -3px;
    width: 100%;
    border: solid 12px red;
    border: solid 12px rgba(215, 44, 44, 0.8);
    padding: 10px;
}

.tabs-stage a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

.tabs-stage a:hover,
.tabs-stage a:focus,
.tournament-schedule a:hover,
.tournament-schedule a:focus {
    opacity: 0.9;
    color: black;
    text-shadow: 1px 1px 1px gray;
}

.tabs-stage p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
}

.tabs-stage h6 {
    font-size: 25px;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}

li.tabs-nav {
    display: inline;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

.INFO {
    position: absolute;
    background: black;
    width: 100%;
}

.tabs-nav {
    padding-top: 20px;
}

#tab-2,
#tab-3,
#tab-4,
#tab5,
#tab6 h3 {
    font-size: 20px;
    padding-top: 40px;
    color: white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 20px;
}

#tab-2,
#tab-4,
#tab6 h6 {
    font-size: 18px;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.food,
.hotels,
.sights {
    font-size: 18px;
    padding: 3px;
}

.food li,
.hotels li,
.sights li {
    margin-top: 13px;
}

.application {
    background: black;
}

.application h1 {
    font-size: 30px;
    padding: 40px;
    color: white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}

#customButton {
    padding: 40px;
    text-shadow: 2px 2px 2px rgba(215, 44, 44, 0.8);
    color: white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.buyButton {
    text-align: center;
    margin: 0 auto;
}

.buyButton input {
    width: 300px;
    text-align: center;
    border: none;
}

.buyButton input:hover,
.buyButton input:focus {
    box-shadow: 0px -1px 30px white;
    transition: 0.6s ease;
}

.buyButton form {
    margin-bottom: 20px;
}

.buyButton table {
    margin: 20px auto;
    width: 40%;
}
.paypal-button {
	  width: 80%;
  	  background-color: gray;
  	  font-size: 20px;
  	  margin: 20px auto;
	  border-radius: 5px 5px 5px;
	  color: white;
	  font-family: 'Exo 2', sans-serif;
	  display: block;
	  padding: 20px;
	  text-decoration: none;
}

.paypal-button h6 {
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
}
.paypal-button select {
  width: 50%;
  display: block;
  margin: 20px auto;
}
.paypal-button:hover, .paypal-button:active, .paypal-button:visited, .paypal-button:focus {
	background-color: gray;
	box-shadow: 0px 0px 0px 2px white;
	transition: 0.5s ease;
	text-shadow: 1px 1px 1px gray;
	font-weight: bold;
}
.pp-button{
	margin-top: 20px;
}
.pp-button.hidden {
	display: none;
}
.paypal-price {
	display: block;
}
// KeyFrame for paypal button 
@-webkit-keyframes spin {
     0% {
       -webkit-transform: rotate(0deg);
     }
     10% {
     	-webkit-transform: rotate(36deg);
     }
     20% {
     	-webkit-transform: rotate(72deg);
     }
     30% {
     	-webkit-transform: rotate(108deg);
     }
     40% {
     	-webkit-transform: rotate(144deg);
     }
     50% {
     	-webkit-transform: rotate(180deg);
     }
     60% {
     	-webkit-transform: rotate(216deg);
     }
     70% {
     	-webkit-transform: rotate(252deg);
     }
     80% {
     	-webkit-transform: rotate(288deg);
     }
     90% {
     	-webkit-transform: rotate(324deg);
     }
     100% {
     	-webkit-transform: rotate(360deg);
     }
   }
   @-moz-keyframes spin {
     100% {
       -moz-transform: rotate(360deg);
       transform: rotate(360deg);

     }
   }
   @keyframes spin {
     100% {
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);
     }
   }


.loading {
    height: 85px;
    width: 80px;
}

.loading > .active {
	display: block;
}
svg {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	//-webkit-animation: spin 1s linear infinite;
}
 #spinner {
   -webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   -webkit-animation: spin 1s linear infinite;
   -moz-animation: spin 1s linear infinite;
   animation: spin 1s linear infinite; 
 }
  
.paybutton {
    margin: 0 auto;
    text-align: center;
}

.paybutton h6 {
    padding: 20px;
    color: white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}

input.placeholder,
input.value {
    text-align: center;
}

#payPal-select {
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto 30px;
}

.why_NST {
    background: black;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    color: white;
    margin: 0 auto;
    padding: 40px;
}

.features {
    margin: 0 auto;
    max-width: 800px;
    background: red;
    background: rgba(215, 44, 44, 0.8);
    padding: 20px;
    border-radius: 6px 6px 6px;
    box-shadow: 0px 0px 13px white;
}

.why_NST h1 {
    padding: 20px;
}

.why_NST li {
    padding: 10px;
    text-shadow: 2px 2px 2px black;
}

i {
    color: white;
}

.highlight {
    color: red;
    text-shadow: none;
}

.fa {
    font-size: 30px !important;
    padding: 20px;
}

.fa-phone:hover,
.fa-phone:focus,
.fa-envelope:hover,
.fa-envelope:focus,
.fa-facebook:hover,
.fa-facebook:focus {
    color: red;
    color: rgba(215, 44, 44, 0.8);
    transition: 0.6s ease;
}

.tournament {
    background: black;
    height: inherit;
    color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    height: auto;
}

strong {
    color: red;
    font-weight: bold;
}

.tournament h1 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding: 10px;
}

.letterHead-main {}

.letterHead {
    line-height: 0px;
    margin-top: 10px;
}

.letterBody {}

.attractions {
    text-align: center;
    margin-top: 40px;
}

.downloadLinks {
    text-align: center;
    margin-top: 20px;
}

.downloadLinks a {
    display: block;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
}

.downloadLinks a:hover {
    color: gray;
}

.attractions li {
    padding: 10px;
}

.attractions h6 {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.attractions a {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 14px;
}

.attractions a:hover,
.attractions a:focus {
    color: black;
    text-shadow: 2px 2px 2px white;
}

.food,
.hotels,
.sights {
    height: 330px;
    width: 300px;
    background: red;
    background: rgba(215, 44, 44, 0.8);
    border-radius: 3px 3px 3px;
    margin-right: 10px;
    display: inline-block;
    padding-top: 30px;
    box-shadow: 0px 0px 13px white;
}

option {
    text-indent: 40px
}

.ss-item.ss-navigate {
    padding-bottom: 30px;
    text-align: center;
}

.ss-form-container {
    background: red;
    background: rgba(215, 44, 44, 0.8);
    width: 50%;
    margin: 0 auto;
    border-radius: 3px 3px 3px;
    box-shadow: 0px 0px 13px #FFF;
}

h1.ss-form-title {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.ss-form {
    text-align: center;
}

.ss-form-entry {
    margin: 0 auto;
    text-align: center;
}

.ss-form-title {
    color: white;
}

.ss-form-desc {
    color: white;
    margin: 30px auto 30px;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
}

div.ss-form-entry {
    padding: 10px;
}

select,
textarea,
option {
    position: relative;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    overflow: hidden;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 86%;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    color: #2C3E50;
    font-size: 16px;
    text-align: center;
}

input {
    -webkit-border-radius: 5px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    margin: 5px auto 10px;
    overflow: hidden;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 85%;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    color: #2C3E50;
    font-size: 16px;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 5px;
}

input,
input:before,
input:after {}

.ieForm input[type="checkbox"] {
    -ms-appearance: checkbox;
    background-color: white;
    -webkit-apperance: none;
    border: 1px solid black;
}

.ieForm h2 {
    color: white;
}

.ieForm .registration h2,
.ieForm .Signup-Page h2,
.ieForm .tourney h2 {
    color: black;
}

.ieForms header,
.ieForms.registration,
.ieForms.tourney,
.ieForms.who,
.ieForms.main,
.ieForms.Signup-Page {
    background: url('../img/registration.jpg') no-repeat;
}

.ieForm #group_1707328640_1,
.ieForm #group_1707328640_2,
.ieForm #group_1707328640_3,
.ieForm #group_1707328640_4,
.ieForm #group_1707328640_5,
.ieForm #group_1707328640_6 {
    background-color: white;
    -webkit-apperance: none;
    border: 1px solid black;
}

.ieForm #group_1707328640_1[checked],
.ieForm #group_1707328640_2[checked],
.ieForm #group_1707328640_3[checked],
.ieForm #group_1707328640_4[checked],
.ieForm #group_1707328640_5[checked],
.ieForm #group_1707328640_6[checked] {
    background-color: gray;
}

.ieForm #group_1707328640_1:checked,
.ieForm #group_1707328640_2:checked,
.ieForm #group_1707328640_3:checked,
.ieForm #group_1707328640_4:checked,
.ieForm #group_1707328640_5:checked,
.ieForm #group_1707328640_6:checked {
    background-color: gray;
}

.ss-q-checkbox {
    width: 30px;
}

.ss-choice-item {
    text-align: left;
    margin-left: 30%;
}

#standings-table {
    cellpadding: "0";
    cellspacing: "0";
    border-collapse: collapse;
    width: 542pt;
}

#standings-table > tbody > tr > td {
    padding: 10px;
    width: 80px;
    padding: 10px;
}

button {
    padding: 30px;
    margin: 0 auto;
    background-color: red;
    background: rgba(215, 44, 44, 0.8);
    border-radius: 5px 5px 5px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    transition: background-color 0.5s ease;
}
button a {
    text-decoration: none;
    color: white;
}

.tournament-schedule button {
    width: 300px;
    background-color: gray;
    font-size: 20px;
}

.tournament-schedule a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}

.tournament-schedule a:hover,
.tournament-schedule a:focus {
    cursor: pointer;
}

.features p {
    font-size: 16px;
}

.tournament-schedule button li a:hover,
.tournament-schedule button li a:focus {
    color: white;
}

#ss-submit,
input#Go-Action-Button {
    background-color: gray;
    color: white;
    -webkit-appearance: none;
}

.ss-checkbox {
    text-align: center;
    margin: 0 auto;
}

button:hover,
button:focus,
#ss-submit:hover,
#ss-submit:focus,
#Go-Action-Button:focus,
#Go-Action-Button:hover {
    box-shadow: 0px 0px 23px white;
    cursor: pointer;
    transition: 0.4s ease;
}

.Go-Action-Button {
    padding: 20px;
    margin-top: 20px;
    -webkit-appearance: none;
    background-color: white;
    color: gray;
}

.meettheteam {
    background: black;
    width: 100%;
}

.meettheteam h3 {
    font-size: 30px;
    margin: -1px 0 30px 0;
    padding: 20px 0 0 0;
    color: white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}

fieldset {
    width: 50%;
    background: red;
    background: rgba(215, 44, 44, 0.8);
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px 3px 3px;
}

fieldset p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Exo 2', sans-serif;
    padding: 3px;
}

h3.fs-subtitle {
    text-shadow: 2px 2px 2px black;
}

.links {
    margin: 0 auto;
    text-align: center;
}

.links .signup-button {
    display: inline-block;
}

#map-canvas {
    height: 400px;
    margin: 0 auto;
    width: 100%;
    background-color: #ccc;
}

.directionsubmit {
    width: 500px;
    display: block;
    margin: 30px auto;
    background-color: white;
    -webkit-appearance: none;
}

.clicker {
    text-decoration: none;
    color: white;
}

.clicker:hover {
    color: red;
    color: rgba(215, 44, 44, 0.8);
}

button a {
    text-decoration: none;
    color: white;
}

.signup-button {
    background: black;
    text-align: center;
    padding: 40px;
}

.signup-button a:hover,
.signup-button a:focus {
    opacity: 0.9;
}

.social {
    text-align: center;
    background: black;
}

#social {
    text-align: center;
    margin-top: 45px;
}

.social a:hover,
.social a:focus {
    opacity: 0.9;
}

.social:nth-of-type(1) {
    margin-left: -10px;
}

.email {
    background: url('../img/NSTmail.png');
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    display: inline-block;
    width: 82px;
    height: 82px;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
}

.facebook {
    background: url('../img/NSTfb.png');
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    display: inline-block;
    width: 82px;
    height: 82px;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
}

.phone {
    background: url('../img/phone.png');
    background-size: 116px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    display: inline-block;
    width: 120px;
    height: 75px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

#standings-table {
    margin: 30px auto 50px;
    max-width: 100%;
}

th {
    background-color: gray;
}

tbody {
    max-width: 100%;
    padding: 2px;
}

.ss-q-title,
p,
.required-message,
.ss-q-title,
.ss-form-heading,
.ss-q-help,
.ss-choice-label {
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 12px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: 20px;
}

.required-message {
    font-size: 14px;
}

.ss-choices {
    margin: 0 auto;
}

table#navigation-table {
    margin: 0 auto;
}

footer {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    background: black;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(215, 44, 44, 0.8);
}

footer p,
footer a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.hotel-container {
    width: 90%;
    margin: 0 auto;
}

.hotel-selection {
    width: 70%;
    margin: 0 auto;
}

.border-container {
    background-color: #83b1f6;
    width: 100%;
    text-align: center;
}

#photo-block {
    margin: 20px auto 20px !important;
    width: 100%;
    text-align: center;
}

.border-container p {
    color: black;
    font-size: 16px;
    text-shadow: none;
    padding: 20px;
    font-weight: bold;
}

.border-container img {
    width: 70%;
    height: 20%;
    padding: 10%;
}

.border-container h1 {
    color: black;
    font-weight: bold;
}


/*==============ANIMATE-CSS================*/

@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1) translateY(2000px);
        -ms-transform: scale(.1) translateY(2000px);
        transform: scale(.1) translateY(2000px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(.475) translateY(-60px);
        -ms-transform: scale(.475) translateY(-60px);
        transform: scale(.475) translateY(-60px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.zoomInUp {
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
}

/*==============BOX-SLIDER-CSS=============*/


/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    width: 76%;
    padding-top: 100px;
}

.bx-wrapper img {
    width: 100%;
    display: block;
}


/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: solid #fff 5px;
    left: -5px;
    background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}


/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../img/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}


/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: red;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    zoom: 1;
    display: inline;
    color: red;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: red;
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: gray;
}

ul.bx-slider {
    display: block;
    float: none;
    list-style: none outside none;
    position: absolute;
    max-width: 100%;
}


/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    outline: 0;
    width: 42px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}


/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}


/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}


/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 12px;
    left: 4px;
    background: none repeat scroll 0% 0% rgba(80, 80, 80, 0.75);
    width: 99%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    display: block;
    font-size: .85em;
    padding: 10px;
    text-align: center;
}


/*===========MEDIA QUERIES=================*/

@media only screen and (min-width:581px) and (max-width: 801px) {
    nav ul {
        font-size: 13px;
    }
    nav li:hover {
        text-shadow: none;
        text-decoration: none;
        background: red;
        background: rgba(215, 44, 44, 0.8);
        width: auto;
        height: 53px;
    }
    .food,
    .hotels,
    .sights {
        height: 350px;
        width: 348px;
        background: red;
        background: none repeat scroll 0% 0% rgba(215, 44, 44, 0.8);
        border-radius: 3px;
        display: block;
        text-align: center;
        margin: 0px auto 20px;
        font-size: 24px;
    }
    .attractions a {
        font-size: 20px;
    }
    .attractions h6 {
        padding: 10px;
        font-size: 24px;
    }
    .attractions li {
        padding: 3px;
    }
    .tabs-nav a {
        font-size: 8px;
        width: 70px;
        color: black;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 580px) {
    .NSTlogo {
        margin-top: 100px;
        width: 150px;
        height: 150px;
    }
    nav {
        background: gray;
        background: rgba(0, 0, 0, 0.6);
        display: inline-block;
        position: absolute;
        bottom: 0;
    }
    nav ul {
        width: 100%;
    }
    nav li {
        display: inline;
        font-size: 12px;
        padding: 2px;
    }
    nav li:hover {
        color: red;
        color: rgba(215, 44, 44, 0.8);
    }
    nav a {
        font-size: 11px;
    }
    .icon-menu {
        position: relative;
        top: 0;
    }
    header,
    .tourney,
    .registration,
    .who {
        height: 440px;
        background-size: 100%;
        background-size: cover;
        background-position: center center;
    }
    header {
        height: 440px;
        background-size: cover;
        font-family: 'Exo 2', sans-serif;
        background-size: 100%;
        background-size: cover;
    }
    .registration {
        background: url('../img/hockeypic04.jpg') center top no-repeat;
        background-size: cover;
    }
    h2 {
        margin-top: 105px;
    }
    .logo {
        background-size: 50% auto;
        width: 150px;
        height: 150px;
        margin: 0px auto;
    }
    .logo h1 {
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
    }
    .INFO h3 {
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
    }
    .INFO h6 {
        font-size: 14px;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
    }
    .tabs-nav a {
        font-size: 5px;
        width: 42.5px;
        color: black;
    }
    .tabs-nav .tab-active a {
        background: #fff;
        border-bottom-color: transparent;
        color: red;
        color: rgba(215, 44, 44, 0.8);
        cursor: default;
    }
    .tournament-schedule ul {
        width: 200px;
    }
    .registration {
        width: 100%;
    }
    .application {
        width: auto;
        min-height: 100%;
    }
    .food,
    .hotels,
    .sights {
        height: 320px;
        background: none repeat scroll 0% 0% rgba(215, 44, 44, 0.8);
        border-radius: 3px;
        display: block;
        text-align: center;
        margin: 0px auto 50px;
        width: 100%;
    }
    .hotels a {
        font-size: 12px;
    }
    .features {
        margin: 0 auto;
        width: 200px;
        background: red;
        background: rgba(215, 44, 44, 0.8);
        padding: 10px;
        border-radius: 6px 6px 6px;
        font-size: 14px;
    }
    .attractions a {
        font-size: 20px;
    }
    .attractions h6 {
        padding: 10px;
        font-size: 24px;
    }
    fieldset {
        text-align: center;
        width: 75%;
    }
    fieldset h1 {
        padding: 0 !important;
        margin-bottom: 30px;
    }
    .attractions li {
        padding: 3px;
    }
    .teamphoto {
        width: 50%;
    }
    #map-canvas {
        width: 71%;
    }
    .directionsubmit {
        width: 50%;
    }
    #teamphoto {
        width: inherit;
        max-width: 100%;
    }
    .meettheteam h3 {
        font-size: 15px;
    }
    .purp {
        margin: 0;
    }
    .tournament h1{
        font-size: 16px;
    }
    .ss-form-container {
        width: 75%;
        height: auto;
    }
    .required-message {
        font-size: 14px;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    h1.ss-form-title {
        font-size: 1em;
        text-align: center;
        text-shadow: 2px 2px 2px black;
    }
    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        outline: 0;
        margin-top: 30px;
        width: 42px;
        text-indent: -9999px;
        z-index: 9999;
    }
    .bx-wrapper .bx-caption {
        position: absolute;
        bottom: 12px;
        left: 3px;
        background: none repeat scroll 0% 0% rgba(80, 80, 80, 0.75);
        width: 98%;
    }
    .ss-choices {
        width: 100%;
    }
    .ss-choice-item {
        text-align: left;
        margin-left: 18%;
    }
    .border-container h1 {
        font-size: 20px;
    }
    .tournament-schedule button {
        width: 120px;
        font-size: 15px;
        padding: 30px;
    }
    .tournament-schedule li {
        padding: 10px;
    }
    .rent-ice {
        margin: 0 auto;
        background: rgba(215,44,44,0.8);
    }
    .bx-wrapper {
        width: 100%;
        padding-top: 50px;
    }
    .bx-wrapper .bx-viewport {
        left: 0px;
    }
    .bx-wrapper .bx-controls-direction a {
        margin-top: 0px;
    }
    .ss-choice-label {
        font-size: 15px;
    }
    .buyButton input {
      width: 200px;
    }
    .paypal-button select {
      width: 100%;
    }
}
    /*===============TABLE MEDIA QUERY===========*/
    /*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
    @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #ccc;
            margin: 5px auto 30px;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding: 2% 0% 2% 50% !important;
            margin: 22px auto 0px;
            width: 100% !important;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        /*
		Label the data
		*/
        td:nth-of-type(1):before {
            content: "TIME";
        }
        td:nth-of-type(2):before {
            content: "RINK";
        }
        td:nth-of-type(3):before {
            content: "GAME";
        }
        td:nth-of-type(4):before {
            content: "VISITORS";
        }
        td:nth-of-type(5):before {
            content: "SCORE";
        }
        td:nth-of-type(6):before {
            content: "POINTS";
        }
        td:nth-of-type(7):before {
            content: "HOME";
        }
        td:nth-of-type(8):before {
            content: "SCORE";
        }
        td:nth-of-type(9):before {
            content: "POINTS";
        }
    }
    /*/* Smartphones (portrait and landscape) ----------- */
    /*@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body {
			padding: 0;
			margin: 0;
			width: 320px; }
		}*/
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body {
            width: 495px;
        }
    }
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px),
    (max-device-width: 1024px) {
        /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
        /* Styles */
    }
