*{ 
	box-sizing: inherit; 
} 
.browsehappy {
  margin: 0;
  background: #ccc;
  color: #000;
  padding: 2em 0;
}
html, body{ 
	box-sizing: border-box; 
	height: 100%;
	margin: 0;
	padding: 0;
}
header{
	background-size: 100% 100%;
	height: 400px;
	font-family: 'Exo 2', sans-serif;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 100%; 
  height: 100%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: 10;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.main{
	background: url('../img/morning-niagara-fall-wallpaper.jpg') no-repeat;
	background-size: cover;


}
.tourney{
	background: url('../img/hockeyshot.png') no-repeat;
	background-size: cover;

}
.infopage{
	background: url('../img/net.jpg') no-repeat;
	background-size: cover;

}
.registration{
	background: url('../img/hockeypic04.jpg') no-repeat;
	background-size: cover;

}
.who{
	background: url('../img/registration.jpg') no-repeat;
	background-size: cover;

}
.Signup-Page{
	background: url('../img/Hockey.png') no-repeat;
	background-size: cover;
}
nav{
	width: 100%;
	height: 53px;
	background: gray;
	background: rgba(0,0,0,0.6);
}
nav ul{
	text-align: center;
	line-height: 3;
	font-weight: bold;
	font-size:14px;
}
nav li{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 5.5px;
}
nav a {
	color: white;
	text-shadow: 3px 3px 3px black;
	text-decoration: none;
}
nav li:hover{
	text-shadow: none;
	text-decoration: none;
	background: red;
	background: rgba(215, 44, 44, 0.8);
	width: auto;
	height: inherit;
}
nav a:hover{
	opacity: 0.9;
}
.logo{
	text-align: center;
	margin: 40px auto;
}
.logo a{
	width: 150px;
	height: 150px;
	margin: 100px auto;
	width: 100%;
}
h2{
	color: black;
	font-size: 30px;
	font-family: 'Exo 2',sans-serif;
	font-weight: bold;
	text-shadow: 3px 3px 3px black;
	text-align: center;
	 text-shadow:
   -2px -2px 0 #fff,  
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
     2px 2px 0 #fff;

}
.tournament-schedule{
	padding: 40px;
}
.tournament-schedule ul{
	background: red;
	background: rgba(215, 44, 44, 0.8);
	text-align: center;
	padding: 30px;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 5px 5px 5px;
	font-family: 'Exo 2', sans-serif;
	text-shadow: 2px 2px 2px black;
	box-shadow: 0px 0px 13px white;
}
.tournament-schedule li{
	padding: 20px;
	text-align: center;
}
.tournament-schedule a{
	text-decoration: none;
	color: white;
}
.tournament-schedule a:hover{
	opacity: 0.9;
}
.tournament-schedule h1, h3, h6, {
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	font-family: 'Exo 2', sans-serif;
	font-size: 1.2em;
}
.features h2{
	color: white;
	font-size: 1.6em;
	text-shadow: 2px 2px 2px black;
	margin: 15px auto 15px auto;
}
.features p{
	padding: 6px;
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.tabs-nav li{
	display: inline-block;
}
.tabs-nav li:first-child a{
	border-right:0;
	}

.tabs-nav a{
	background:#f5f7f5;
	border:1px solid #c6c9cc;
	color:#8c9198;
	display:block;
	font-size:11px;
	font-weight:bold;
	height:40px;
	line-height:44px;
	text-align:center;
	text-transform:uppercase;
	width:140px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	}

.tabs-nav .tab-active a{
	background:#fff;
	border-bottom-color:transparent;
	color: red;
	color:rgba(215, 44, 44, 0.8);
	cursor:default
	}
.tabs-stage{
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	-ms-border-radius:0 0 6px 6px;
	-o-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
	border-top:0;
	clear:both;
	position:relative;
	top:-3px;
	width:100%;
	border: solid 12px red;
	border: solid 12px rgba(215, 44, 44, 0.8);
	padding: 10px;
	}
.tabs-stage a{
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px black;
}
.tabs-stage a:hover{
	opacity: 0.9;
	color: black;
	text-shadow: 1px 1px 1px gray;
}
.tabs-stage p{
	margin:0;
	padding:20px;
	font-size: 16px;
	}
.tabs-stage h6{
	font-size: 25px;
	padding: 10px;
	text-shadow: 2px 2px 2px black;
	margin-bottom: 20px;
}
li.tabs-nav{
	display: inline;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { 
	display: inline-block; 
	}
/* start commented backslash hack \*/
* html .clearfix { 
	height: 1%; 
	}
.clearfix { 
	display: block; 
	}
/* close commented backslash hack */
.INFO{
	position: absolute;
	background: black;
	width: 100%;
}
.tabs-nav{
	padding-top: 20px;
}

#tab-2, #tab-3, #tab-4, h3{
	font-size: 30px;
	padding-top: 40px;
	color: white;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	padding-bottom: 20px;
	
}

#tab-2, #tab-4, h6{
	font-size: 18px;
	padding: 10px;
	color: white;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	
}

.food, .hotels, .sights, li{
	font-size: 14px;
	padding: 3px;
}
.application{
	background: black;	
}

.application h1 {
		font-size: 30px;
		padding: 40px;
		color: white;
		text-align: center;
		font-family: 'Exo 2', sans-serif;
		font-weight: bold;
		}

#customButton{
	padding: 40px;
	text-shadow: 2px 2px 2px rgba(215, 44, 44, 0.8);
	color: white;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	margin-top: 20px;
}
.buyButton input{
	width: 30%;
	text-align: center;

}
.buyButton form{
	text-align: center;
	margin-bottom: 20px;
}
.buyButton table{
	margin: 0 auto;
	margin-top: 20px;
}
.paybutton{
	margin: 0 auto;
	text-align: center;
}
.paybutton h6{
	padding: 20px;
	color: white;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	
}
#payPal-select{
	width: 100%;
}
.why_NST{
	background: black;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	color: white;
	margin: 0 auto;
	padding: 40px;
}
.features{
	margin: 0 auto;
	max-width: 800px;
	background: red;
	background: rgba(215, 44, 44, 0.8);
	padding: 20px;
	border-radius: 6px 6px 6px;
	box-shadow: 0px 0px 13px white;
	
}
.why_NST h1{
	padding: 20px;
}
.why_NST li{
	padding: 10px;
	text-shadow: 2px 2px 2px black;
}

.tournament{
	background: black;
	height: inherit;
	color: white;
	font-family: 'Exo 2', sans-serif;
	text-align: center;	
	padding-bottom: 10px;
	height: auto;
	}
.tournament h1{
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	padding: 10px;
}

.NST-Registration{
	background: black;
	height: inherit;
	color: white;
	font-family: 'Exo 2', sans-serif;
}
.NST-Registration h1{
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	padding: 10px;
}
.NST-Registration p{
	padding: 20px;
}

.NST-Registration li{
	padding: 20px;
}
.attractions{
	text-align: center;
	margin-top: 40px;
	
}
.attractions li{
	padding: 10px;
}
.attractions h6{
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.attractions a{
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-size:14px;
}
.attractions a:hover{
	color: black;
	text-shadow: 2px 2px 2px white;
}
.food, .hotels, .sights{
	height: 250px;
	width: 250px;
	background: red;
	background: rgba(215, 44, 44, 0.8);
	border-radius: 3px 3px 3px;
	margin-right: 10px;
	display: inline-block;
	padding-top: 30px;
	box-shadow: 0px 0px 13px white;

}

.ss-form-container{
	background: red;
	background: rgba(215, 44, 44, 0.8);
	width: 50%;
	margin: 0 auto;
	border-radius: 3px 3px 3px;
	box-shadow: 0px 0px 13px #FFF;
}
h1.ss-form-title {
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
}
.ss-form{
	text-align: center;
}
.ss-form-entry{
	margin: 0 auto;
	text-align: center;
}
.ss-form-title{
	color: white;
}
.ss-form-desc {
	color: white;
	margin: 30px auto 30px;
	text-shadow: 2px 2px 2px black;
}
div.ss-form-entry{
	padding: 10px;
}
select, textarea{
		position: relative;
		-webkit-appearance: button;
		-webkit-border-radius: 5px;
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		-webkit-user-select: none;
		background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
		background-position: center right;
		background-repeat: no-repeat;
		border: 1px solid #AAA;
		color: #555;
		overflow: hidden;
		padding: 13px;
		border: 1px solid #ccc;
		border-radius: 3px;
		width: 86%;
		box-sizing: border-box;
		font-family: 'Exo 2', sans-serif;		
		color: #2C3E50;
		font-size: 16px;
		
}

input{
		-webkit-border-radius: 5px;
		-webkit-padding-end: 20px;
		-webkit-padding-start: 2px;
		-webkit-user-select: initial;
		background-position: center right;
		background-repeat: no-repeat;
		border: 1px solid #AAA;
		color: #555;
		margin: 5px auto 10px;
		overflow: hidden;
		padding: 15px;
		border: 1px solid #ccc;
		border-radius: 3px;
		width: 85%;
		box-sizing: border-box;
		font-family: 'Exo 2', sans-serif;
		color: #2C3E50;
		font-size: 16px;
		text-align: center;
		top: 50%;
		left: 50%;
		 -webkit-border-radius: 5px;
  /* -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
 /* -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: initial;
  background-position: center right;
  background-repeat: no-repeat;
  /* border: 1px solid #AAA; */
 /* color: #555;
  font-size: inherit;
  margin: 5px;
  overflow: hidden;
  padding: 15px;
  /* border: 1px solid #ccc; */
 /* border-radius: 3px;
  margin-bottom: 10px;
  width: 85%;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  color: #2C3E50;
  font-size: 16px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: 12px;*//*/*/
}
input, input:before, input:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
     } 

     .ss-q-checkbox{
     	width: 30px;
     }
     .ss-choice-item{
     	text-align: left;
		margin-left: 30%;
     }

button{
	padding: 30px;
	margin: 0 auto;
	background: rgba(215, 44, 44, 0.8);	
	border-radius: 5px 5px 5px;
	color: white;
	font-family: 'Exo 2', sans-serif;
	transition: background-color 0.5s ease;	
}
.tournament-schedule button{
	width: 300px;
	background-color: gray;
	font-size: 20px;
}
.tournament-schedule a, .features p{
	font-size: 16px;
}
#ss-submit{
	background-color: gray;
	color: white;
}
.ss-checkbox{
	text-align: center;
	margin: 0 auto;
}
button:hover, #ss-submit:hover{
	box-shadow: 0px 0px 23px white;
	cursor: pointer;
	transition: 0.4s ease;
	

}
.meettheteam{
	background: black;
	width: 100%;
	
}
.meettheteam h3{
		font-size: 30px;
		margin: -1px 0 30px 0;
		padding: 20px 0 0 0;
		color: white;
		text-align: center;
		font-family: 'Exo 2', sans-serif;
		font-weight: bold;
}
fieldset{
	width: 50%;
	background: red;
	background: rgba(215,44,44,0.8);
	margin: 0 auto;
	padding: 10px;
	border-radius: 3px 3px 3px;
}
fieldset p{
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-family: 'Exo 2', sans-serif;
	padding: 3px;
}

input#Go-Action-Button{
	padding: 20px;
	margin-top: 20px;
}
h3.fs-subtitle{
	text-shadow: 2px 2px 2px black;
}
#map-canvas {
   height: 400px;
   margin: 0 auto;
   width: 100%;
   background-color: #ccc;
 }
#teamphoto{
	text-align: center
}
#teamphoto img{
	height: auto;
	max-width: 100%;	
}
.lt-ie9 #teamphoto img {
	width:100%;
}

.directionsubmit{
	width: 500px;
	display: block;
	margin: 30px auto;
	background-color: white;
	
}
.clicker{
	text-decoration: none;
	color: white;
}
.clicker:hover{
	color: red;
	color: rgba(215, 44, 44, 0.8);
}
button a{
	text-decoration: none;
	color: white;
}
.signup-button{
	background: black;
	text-align: center;
	padding: 40px;
}
.signup-button a:hover{
	opacity: 0.9;

}
.social{
	text-align: center;
	background: black;
	margin-top: 20px;
}
#social{
	text-align: center;
	margin-top: 45px;
}
.social a:hover{
	opacity: 0.9;	
}

.email{
	background:url('../img/NSTmail.png');
	background-size: 65px;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
	display: inline-block;
	width: 82px;
	height: 82px;
	text-decoration: none;
	cursor: pointer;
	padding: 20px;	
}

.facebook {
	background:url('../img/NSTfb.png');
	background-size: 65px;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
	display: inline-block;
	width: 82px;
	height: 82px;
	text-decoration: none;
	cursor: pointer;
	padding: 20px;	
}

.phone{
	background:url('../img/phone.png');
	background-size: 116px;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
	display: inline-block;
	width: 120px;
	height: 75px;
	text-decoration: none;
	cursor: pointer;
	padding: 10px;
}

.ss-q-title, p, .required-message, .ss-q-title, .ss-form-heading, .ss-q-help, .ss-choice-label{
	color: white;
	text-shadow: 2px 2px 2px black;
	padding: 12px;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
}

.ss-choices{
	margin: 0 auto;
}
table#navigation-table{
	margin: 0 auto;
}

footer{
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	background: black;
	padding: 20px;
	color: white;
	text-shadow: 1px 1px 1px rgba(215, 44, 44, 0.8);
}

footer p{
	color: white;
}

@media only screen and (min-width:581px) and (max-width: 801px) {
	nav ul {
		font-size: 13px;
	}
	nav li:hover{
		text-shadow: none;
		text-decoration: none;
		background: red;
		background: rgba(215, 44, 44, 0.8);
		width: auto;
		height: 53px;
	}
	.food, .hotels, .sights {
			height: 278px;
			width: 348px;
			background: red;
			background: none repeat scroll 0% 0% rgba(215, 44, 44, 0.8);
			border-radius: 3px;
			display: block;
			text-align: center;
			margin: 0px auto 20px;
			font-size: 24px;
		}
	
	.attractions a {
		font-size: 20px;
	}
	
	.attractions h6 {
		padding: 10px;
		font-size: 24px;
	}
	
	.attractions li {
		padding: 3px;
	}
	
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 580px) {
	   .NSTlogo{
	   	margin-top: 100px;
	   	width: 150px;
	   	height: 150px;
	   }
	   nav {
		height: 345px;
		background: gray;
		background: rgba(0,0,0,0.6)
		}
		nav ul { 
			width: 100%;
		}
		nav li {
			display: block;
			font-size: 13px;
			padding: 15px;
		}
		nav li:hover {
			color: red;
			color: rgba(215, 44, 44, 0.8);
		}
		header, .tourney, .registration, .who {
			height: 800px;
			background-size: 100%;
			background-size: cover;
			background-position: center center;}

		header{
		height: 800px;
		background-size: cover;
		font-family: 'Exo 2', sans-serif;
		background-size: 100%;
		background-size: cover;
		}
	
	.registration{
		background: url('../img/hockeypic04.jpg') center top no-repeat;
		background-size: cover;
		
	}
	h2{
		margin-top: 105px;
	}

		.logo {
			background-size: 50% auto;
			width: 150px;
			height: 150px;
			margin: 40px auto;
		}
		.logo h1 {
				font-size: 20px;
				font-family: 'Exo 2',sans-serif;
				font-weight: bold;
		}
		.INFO h3 {
			font-size: 20px;
			font-family: 'Exo 2',sans-serif;
			font-weight: bold;
		}
		.INFO h6 {
			font-size: 14px;
			font-family: 'Exo 2',sans-serif;
			font-weight: bold;
		}
		.tabs-nav li{
			padding: 4px;
		}
		.tabs-nav a {
			  font-size: 6px;
			  width: 49px;
			  color: black;
			  padding: 4px;
			  
			}

		.tabs-nav .tab-active a {
			background:#fff;
			border-bottom-color:transparent;
			color: red;
			color: rgba(215, 44, 44, 0.8);
			cursor:default;
			}
		
		.tournament-schedule ul {
			width: 200px;
		}
		.email, .facebook {
			padding: 0;
			background-size: 40px;
		}
		.phone{
			background-size: 75px;
		}
		.registration {
			width: 100%;
		}
		.application { 
			width: auto;
			min-height: 100%;
		}
		#msform {
			width: auto;
		}
		#progressbar{
			width: 110%;
		}
		#progressbar ul {
			width: 16%;
		}
		#progressbar li {
			width: 15%;
			font-size: 9px;
		}
		form#msform {
			text-align:center;
			width: auto;
		}
		#msform {
			text-align: center;
			width: auto;
		}
		#msform .action-button {
			width: 80px;
			height: 32px;
			padding: 8px 5px;
			font-size: 13px;
		}
	   	#msform input, #msform textarea {
			padding: 7px;
			font-size: 13px;
		}
		.food, .hotels, .sights {
				height: 250px;
				background: none repeat scroll 0% 0% rgba(215, 44, 44, 0.8);
				border-radius: 3px;
				display: block;
				text-align: center;
				margin: 0px auto 50px;
				width: 100%;
				}
				
		.features {
				margin: 0 auto;
				width: 200px;
				background: red;
				background: rgba(215, 44, 44, 0.8);
				padding: 10px;
				border-radius: 6px 6px 6px;
				font-size: 14px;
				}
				
		.attractions a {
				font-size: 20px;
			}
		.attractions h6 {
				padding: 10px;
				font-size: 24px;
			}
		fieldset {
				text-align:center;
				width: 75%;
			}
		fieldset h1{
			padding: 0 !important;
			margin-bottom: 30px;
		}
		.attractions li {
				padding: 3px;
			}
		.teamphoto { 
				width: 50%;
			}
		#map-canvas {
				width: 71%;
			}
		.directionsubmit{
				width:50%;
			}
		#teamphoto{
				width: inherit;
				max-width: 100%;	
			}
		.meettheteam h3{
				font-size: 18px;
			}
		#progressbar li{
				margin-left: 12px;
			}
		#progressbar li:after{
			width: 100%;
		}
		.tournament h1{
			font-size: 16px;
		}
		.ss-form-container{
			width: 75%;
			height: auto;
		}
		.ss-q-title{
	font-size: 10px;
	color: white;
	text-shadow: 2px 2px 2px black;
}
h1.ss-form-title {
    font-size: 1em;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	outline: 0;
	margin-top: 30px;
	width: 42px;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 12px;
    left: 3px;
    background: none repeat scroll 0% 0% rgba(80, 80, 80, 0.75);
    width: 98%;
}
.ss-choices{
	width: 100%;
}
.ss-choice-item{
     	text-align: left;
		margin-left: 18%;
     }

 .tournament-schedule button{
 	width: 120px;
 	font-size: 15px;
 	padding: 30px;
 }
 .tournament-schedule li{
 	padding: 10px;
 }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) , (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

