body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 40px;
  background-color: #000;
  color: white;
}

header {
  background-size: 100% 100%;
  height: auto;
  position: relative;
}

section {
  padding: 20px;
  text-align: center;
}

ol,ul,ul.bx-slider {
  list-style: none;
}

.browsehappy {
  margin: 0;
  background: #ccc;
  color: #000;
  padding: 2em 0;
}

nav {
  width: 100%;
  background: black;
}

nav ul {
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
}

nav li {
  display: inline;
  text-align: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-shadow: 3px 3px 3px #000;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
}

nav li:focus,nav li:hover {
  text-shadow: none;
  background: #d72c2c;
  background: rgba(215,44,44,.8);
  width: auto;
  height: inherit;
  transition: .7s ease;
}


.icerentals-menu {
  background: #4d4d4f;
  height: 50px;
  width: 250px;
  position: fixed;
  color: white;
  right: 0;
  top: 30%;
  line-height: 50px;
  text-shadow: 2px 2px 2px #000;
  box-shadow: 0 0 4px 4px #000;
  text-align: center;
  border-radius: 5px 0 0 5px;
  z-index: 10000;
}

.icerentals-menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  padding: 100px 40px;
  margin: 0 auto;
  text-align: center;
}

.logo a {
  height: auto;
  margin: 100px auto;
  width: 250px;
}

.NSTLogo {
  width: 250px;
  height: 250px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(.1) translateY(2000px);
    -ms-transform: scale(.1) translateY(2000px);
    transform: scale(.1) translateY(2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(.475) translateY(-60px);
    -ms-transform: scale(.475) translateY(-60px);
    transform: scale(.475) translateY(-60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

h1 {
  color: #000;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 0 #fff,-1px -1px 0 #FFF,1px -1px 0 #FFF,-1px 1px 0 #FFF,1px 1px 0 #FFF;
  margin-top: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

li, p {
  font-size: 18px;
}

.home_hero {
  background: url(../img/morning-niagara-fall-wallpaper.jpg) no-repeat;
}

.contact_hero {
  background: url(../img/registration.jpg) no-repeat;
}

.tournament_hero, .tournament_forms_hero {
  background: url(../img/hockeyshot.png) no-repeat;
  background-size: cover;
}

.nst_hero {
    background: url(../img/falls.jpg) no-repeat;
    background-size: cover;
}

.registration_hero {
    background: url(../img/hockeypic04.jpg) no-repeat;
    background-size: cover;
}

.signup_hero {
    background: url(../img/Hockey.png) no-repeat;
    background-size: cover;
}

.rentals_hero {
    background: url(../img/falls.jpg) no-repeat;
    background-size: cover;
}

.social {
  text-align: center;
  padding-top: 10px;
}

.social:nth-of-type(1) {
  margin-left: -10px;
}

footer {
  font-family: 'Exo 2',sans-serif;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(215,44,44,.8);
}

footer a,footer p {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

i {
  color: white;
}

.fa {
  font-size: 30px !important;
  padding: 20px;
}

.fa-envelope:focus,
.fa-envelope:hover,
.fa-facebook:focus,
.fa-facebook:hover,
.fa-phone:focus,
.fa-phone:hover {
  color: #d72c2c;
  color: rgba(215,44,44,.8);
  transition: .6s ease;
}

.tournament-schedule {
  background: #d72c2c;
  background: rgba(215,44,44,.8);
  width: 80%;
  text-align: center;
  padding: 30px;
  margin: 50px auto;
  border-radius: 5px;
  list-style: none;
}

.tournament-schedule a, .tournament-schedule li {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.tournament-schedule a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#map-canvas,.links,fieldset {
  margin: 0 auto;
}

fieldset {
  width: 50%;
  background: #d72c2c;
  background: rgba(215,44,44,.8);
  padding: 10px;
  border-radius: 3px;
}

fieldset p {
  text-align: center;
  color: #fff;
  font-family: 'Exo 2',sans-serif;
  padding: 3px;
}
.slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
  border: 2px solid #d72c2c;
}

.slick-dots li button, .slick-dots li button:before {
  color: white;
}

@media only screen and (max-width: 580px) {

  header {
    background-size: cover;
  }
  nav {
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
  }

  nav ul {
    width: 100%;
    line-height: 4;
  }

  nav li {
    display: inline;
    padding: 5px;
  }

  nav li:hover {
    text-decoration: underline;
  }
  nav a {
    padding: 0;
    font-size: 14px;
  }
  .icerentals-menu {
    position: relative;
    top: 0;
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
  }
  .logo {
    padding: 40px 0 100px;
  }
}
/*.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 25px 0 0;
  width: 76%;
}

.bx-wrapper img {
  width: 100%;
  display: block;
}

.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
}

.bx-wrapper .bx-controls-auto,.bx-wrapper .bx-pager {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../img/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: 700;
  color: #d72c2c;
  padding-top: 20px;
}

.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager .bx-pager-item {
  zoom:1;
  display: inline;
  color: #d72c2c;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d72c2c;
  text-indent: -9999px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: gray;
}

ul.bx-slider {
  display: block;
  float: none;
  position: absolute;
  max-width: 100%;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../img/controls.png) 0 -32px no-repeat;;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../img/controls.png) -43px -32px no-repeat;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  outline: 0;
  width: 42px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(img/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start.active,.bx-wrapper .bx-controls-auto .bx-start:hover {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(img/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop.active,.bx-wrapper .bx-controls-auto .bx-stop:hover {
  background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 12px;
  left: 4px;
  background: rgba(80,80,80,.75);
  width: 99%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: 'Exo 2',sans-serif;
  display: block;
  font-size: .85em;
  padding: 10px;
  text-align: center;
}*/


/*.icon-menu a,.logo a,.paypal-button,.tabs-stage a,nav a,nav li,nav li:focus,nav li:hover {
  text-decoration: none;
}

#standings-table,table {
    border-collapse: collapse;
}

.icon-menu a,.tabs-nav a,a.standings-button {
    text-transform: uppercase;
}

.signup-button a:focus,.signup-button a:hover,.social a:focus,.social a:hover,.standings-button a:focus,.standings-button a:hover,nav a:focus,nav a:hover {
    opacity: .9;
}

ol,ul,ul.bx-slider {
  list-style: none;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.tournament-schedule h1,.tournament-schedule ul,h2,h3,h6,header {
    font-family: 'Exo 2',sans-serif;
}

.tabs-nav a,.tabs-stage a,h2,nav ul {
    font-weight: 700;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

.tabs-nav li,nav li {
    display: inline-block;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

blockquote,q {
    quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
}

* {
    box-sizing: inherit;
}

.browsehappy {
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 2em 0;
}

body,html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000
}

.hide_text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.icon-menu,.logo {
    margin: 0 auto;
    text-align: center;
}

.icon-menu a {
    color: #fff;
}

.icon-menu:hover {
    cursor: pointer;
}


header {
    background-size: 100% 100%;
    height: auto;
    position: relative;
}



nav {
    width: 100%;
    height: 53px;
    background: black;
}

nav ul {
    text-align: center;
    line-height: 3;
    font-size: 14px;
}

nav li {
    text-align: center;
    padding: 5.5px;
}

nav a {
    color: #fff;
    text-shadow: 3px 3px 3px #000;
}

nav li:focus,nav li:hover {
    text-shadow: none;
    background: #d72c2c;
    background: rgba(215,44,44,.8);
    width: auto;
    height: inherit;
    transition: .7s ease;
}

.NSTLogo {
    width: 250px;
    height: auto;
}

.features,.tournament-schedule ul {
    max-width: 800px;
    box-shadow: 0 0 13px #fff;
}

.logo {
    padding: 100px 40px;
}

.logo a {
    height: auto;
    margin: 100px auto;
    width: 100%;
}

h1 {
  color: #000;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 0 #fff,-1px -1px 0 #FFF,1px -1px 0 #FFF,-1px 1px 0 #FFF,1px 1px 0 #FFF;
  margin-top: 40px;
}

/*.features h2,*/
/*.tabs-stage a,.tournament-schedule ul {
    text-shadow: 2px 2px 2px #000;
}

.ie8 h2,.ie9 h2 {
    color: #fff;
}

.tournament, .tournament-schedule {
    padding: 40px;
}

.tournament.information {
    padding: 0;
}

.tournament-schedule ul {
    background: #d72c2c;
    background: rgba(215,44,44,.8);
    text-align: center;
    padding: 30px;
    margin: 50px auto 0;
    border-radius: 5px;
}

.tournament-schedule li {
    padding: 20px;
    text-align: center;
}

.tournament,.tournament-schedule a {
    text-decoration: none;
    color: #fff;
}

.tournament-schedule h1,h3,h6 {
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.8em;
}

.tournament h6 {
    font-size: 20px;
}

.features {
    margin: 40px auto;
    background: #d72c2c;
    background: rgba(215,44,44,.8);
    padding: 20px;
    border-radius: 6px;
    width: 80%;
}

.features h2 {
    color: #fff;
    font-size: 1.6em;
    margin: 15px auto;
}

.features p {
    padding: 6px;
    width: 100%;
    text-align: center;
}

.tabs-nav li:first-child a {
    border-right: 0;
}

.tabs-nav a {
    background: #f5f7f5;
    border: 1px solid #c6c9cc;
    color: #8c9198;
    display: block;
    font-size: 11px;
    height: 40px;
    line-height: 44px;
    text-align: center;
    width: 111px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tabs-nav .tab-active a {
    background: #fff;
    border-bottom-color: transparent;
    color: #d72c2c;
    color: rgba(215,44,44,.8);
    cursor: default;
}

.tabs-stage {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    clear: both;
    position: relative;
    top: -3px;
    width: 100%;
    border: 12px solid #d72c2c;
    border: 12px solid rgba(215,44,44,.8);
    padding: 10px;
}

.tabs-stage a {
    color: #fff;
}

.tabs-stage a:focus,.tabs-stage a:hover,.tournament-schedule a:focus,.tournament-schedule a:hover {
    opacity: .9;
    color: #000;
    text-shadow: 1px 1px 1px gray;
}

#tab-2,#tab-3,#tab-4,#tab5,#tab6 h3,#tab6 h6,.application h1 {
    color: #fff;
    font-family: 'Exo 2',sans-serif;
}

.tabs-stage p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
}

.tabs-stage h6 {
    font-size: 25px;
    padding: 10px;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 20px;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.container, .ss-base-body .container {
  padding: 40px;
}

.tabs-nav {
  padding-top: 20px;
}

li.tabs-nav {
  display: inline;
}

#tab-2,#tab-3,#tab-4,#tab5,#tab6 h3 {
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 20px;
}

#tab-2,#tab-4,#tab6 h6 {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.food,.hotels,.sights {
  font-size: 18px;
}

.food li,.hotels li,.sights li {
  margin-top: 13px;
}

.application {
  background: #000;
  padding-bottom: 10px;
}

.application h1 {
  font-size: 30px;
}

#customButton, .application h1 {
  padding: 40px;
  text-align: center;
  font-weight: 700;
}

#customButton {
  text-shadow: 2px 2px 2px rgba(215,44,44,.8);
  color: #fff;
  font-family: 'Exo 2',sans-serif;
  margin-top: 20px;
}

.paybutton h6,.paypal-button {
  padding: 20px;
  color: #fff;
  font-family: 'Exo 2',sans-serif;
}

.payment {
  text-align: center;
  margin: 0 auto;
}

.payment input {
  width: 300px;
  text-align: center;
  border: none;
}

.payment input:focus,.payment input:hover {
  box-shadow: 0 -1px 30px #fff;
  transition: .6s ease;
}

.payment form {
  margin-bottom: 20px;
}

.payment table {
  margin: 20px auto;
  width: 40%;
}

.rent-ice {
  margin-top: 20px;
}

.paypal-button {
  width: 80%;
  background-color: gray;
  font-size: 20px;
  margin: 20px auto;
  border-radius: 5px;
  display: block;
}

.paypal-button h6 {
  font-size: 30px;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 10px;
}

.paypal-button select {
  width: 50%;
  display: block;
  margin: 20px auto;
}

.paypal-button:active,.paypal-button:focus,.paypal-button:hover,.paypal-button:visited {
  background-color: gray;
  box-shadow: 0 0 0 2px #fff;
  transition: .5s ease;
  text-shadow: 1px 1px 1px gray;
  font-weight: 700;
}

.pp-button {
  margin-top: 20px;
}

.pp-button.hidden {
  display: none;
}

#payPal-select,.loading>.active,.paypal-price,svg {
  display: block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }

  10% {
    -webkit-transform: rotate(36deg);
  }

  20% {
    -webkit-transform: rotate(72deg);
  }

  30% {
    -webkit-transform: rotate(108deg);
  }

  40% {
    -webkit-transform: rotate(144deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
  }

  60% {
    -webkit-transform: rotate(216deg);
  }

  70% {
    -webkit-transform: rotate(252deg);
  }

  80% {
    -webkit-transform: rotate(288deg);
  }

  90% {
    -webkit-transform: rotate(324deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading {
  height: 85px;
  width: 80px;
}

svg {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -webkit-animation: spin 1s linear infinite;
}

.spinner {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.paybutton {
  margin: 0 auto;
  text-align: center;
}

.paybutton h6 {
    text-align: center;
    font-weight: 700;
}

input.placeholder,input.value {
    text-align: center;
}

#payPal-select {
    text-align: center;
    width: 50%;
    margin: 0 auto 30px;
}

.why_NST {
    text-align: center;
    font-family: 'Exo 2',sans-serif;
    color: #fff;
    margin: 0 auto;
    padding: 40px;
}

.why_NST h1 {
    padding: 20px;
}

.why_NST li {
    padding: 10px;
    text-shadow: 2px 2px 2px #000;
}


.highlight {
    color: #d72c2c;
    text-shadow: none;
}

.tournament {
    color: #fff;
    font-family: 'Exo 2',sans-serif;
    text-align: center;
    height: auto;
}

strong {
    color: #d72c2c;
    font-weight: 700;
}

.tournament h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding: 10px;
}

.letterHead {
    line-height: 0;
    margin-top: 10px;
}

.attractions {
    text-align: center;
    margin-top: 40px;
}

.downloadLinks {
    text-align: center;
    margin-top: 20px;
}

.downloadLinks a {
    display: block;
    color: #fff;
    font-family: 'Exo 2',sans-serif;
    padding: 10px;
    font-weight: 700;
    font-size: 25px;
}

.downloadLinks a:hover {
    color: gray;
}

.attractions a,.attractions h6 {
    font-family: 'Exo 2',sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    text-decoration: none;
}

.attractions li {
    padding: 10px;
}

.attractions a {
    font-size: 14px;
}

.attractions a:focus,.attractions a:hover {
    color: #000;
    text-shadow: 2px 2px 2px #fff;
}

.ss-form-desc,h1.ss-form-title {
    text-shadow: 2px 2px 2px #000;
    font-size: 30px;
}

.food,.hotels,.sights {
    height: auto;
    width: auto;
    background: #d72c2c;
    background: rgba(215,44,44,.8);
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
    padding: 30px;
    box-shadow: 0 0 13px #fff;
    vertical-align: top;
}

option {
    text-indent: 40px;
}

.ss-item.ss-navigate {
    padding-bottom: 30px;
    text-align: center;
}

.ss-form-container {
    background: #d72c2c;
    background: rgba(215,44,44,.8);
    width: 50%;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 0 13px #FFF;
    padding-bottom: 10px;
}

.ss-form,h1.ss-form-title {
    text-align: center;
}

.ss-form-entry {
    margin: 0 auto;
    text-align: center;
}

.ss-form-title {
    color: #fff;
}

.ss-form-desc {
    color: #fff;
    margin: 30px auto;
}

input,option,select,textarea {
    background-position: center right;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    color: #2C3E50;
    text-align: center;
}

a.standings-button,button,input,option,select,textarea {
    font-size: 16px;
    font-family: 'Exo 2',sans-serif;
}

div.ss-form-entry {
    padding: 10px;
}

option,select,textarea {
    position: relative;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#FAFAFA,#F4F4F4 40%,#E5E5E5);
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 86%;
}

select {
    background-image: linear-gradient(45deg,transparent 50%,gray 50%),linear-gradient(135deg,gray 50%,transparent 50%),linear-gradient(to right,#ccc,#ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) .5em;
    background-size: 5px 5px,5px 5px,1px 1.5em;
    background-repeat: no-repeat;
    background-color: #fff;
}

input {
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    margin: 5px auto 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 5px;
}

.ieForm input[type=checkbox] {
    -ms-appearance: checkbox;
    background-color: #fff;
    -webkit-apperance: none;
    border: 1px solid #000;
}

.ieForm h2 {
    color: #fff;
}

.ieForm .Signup-Page h2,.ieForm .registration h2,.ieForm .tourney h2 {
    color: #000;
}

.ieForms header,.ieForms.Signup-Page,.ieForms.main,.ieForms.registration,.ieForms.tourney,.ieForms.who {
    background: url(../img/registration.jpg) no-repeat;
}

.ieForm #group_1707328640_1,.ieForm #group_1707328640_2,.ieForm #group_1707328640_3,.ieForm #group_1707328640_4,.ieForm #group_1707328640_5,.ieForm #group_1707328640_6 {
    background-color: #fff;
    -webkit-apperance: none;
    border: 1px solid #000;
}

.ieForm #group_1707328640_1:checked,.ieForm #group_1707328640_1[checked],.ieForm #group_1707328640_2:checked,.ieForm #group_1707328640_2[checked],.ieForm #group_1707328640_3:checked,.ieForm #group_1707328640_3[checked],.ieForm #group_1707328640_4:checked,.ieForm #group_1707328640_4[checked],.ieForm #group_1707328640_5:checked,.ieForm #group_1707328640_5[checked],.ieForm #group_1707328640_6:checked,.ieForm #group_1707328640_6[checked] {
    background-color: gray;
}

.ss-q-checkbox {
    width: 30px;
}

.ss-choice-item {
    text-align: left;
    margin-left: 30%;
}

#standings-table {
    cellpadding: "0";
    cellspacing: "0";
    width: 542pt;
}

#standings-table>tbody>tr>td {
    width: 80px;
    padding: 10px;
}

a.standings-button,button {
    padding: 30px;
    margin: 0 auto;
    background-color: #d72c2c;
    background: rgba(215,44,44,.8);
    border-radius: 5px;
    color: #fff;
    transition: background-color .5s ease;
    font-weight: 700;
    text-transform: uppercase;
}

.standings-frame {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    //<<--- THIS IS THE KEY -moz-overflow-scrolling: touch;
    //<<--- THIS IS THE KEY -ms-overflow-scrolling: touch;
    //<<--- THIS IS THE KEY border: solid #000 1px;
}

.standings-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tournament-schedule button {
    width: 300px;
    background-color: gray;
    font-size: 20px;
}

.tournament-schedule a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

fieldset p,h3.fs-subtitle {
    text-shadow: 2px 2px 2px #000;
}

.tournament-schedule a:focus,.tournament-schedule a:hover {
    cursor: pointer;
}

.tournament-schedule span {
    text-decoration: none;
}

a.telephone {
    text-align: center;
    display: inherit;
    padding: 10px;
    font-family: 'Exo 2',sans-serif;
}

a.telephone:hover {
    color: #d72c2c;
    color: rgba(215,44,44,.8);
    cursor: pointer;
    transition: .4s ease;
}

.features p {
    font-size: 16px;
}

.tournament-schedule button li a:focus,.tournament-schedule button li a:hover {
    color: #fff;
}

#ss-submit,input#Go-Action-Button {
    background-color: gray;
    color: #fff;
    -webkit-appearance: none;
}

.ss-checkbox {
    text-align: center;
    margin: 0 auto;
}

#Go-Action-Button:focus,#Go-Action-Button:hover,#ss-submit:focus,#ss-submit:hover,button:focus,button:hover {
    box-shadow: 0 0 23px #fff;
    cursor: pointer;
    transition: .4s ease;
}

.Go-Action-Button {
    padding: 20px;
    margin-top: 20px;
    -webkit-appearance: none;
    background-color: #fff;
    color: gray;
}


.meettheteam h3 {
    font-size: 30px;
    margin: -1px 0 30px;
    padding: 20px 0 0;
    color: #fff;
    text-align: center;
    font-family: 'Exo 2',sans-serif;
    font-weight: 700;
}

.links {
    text-align: center;
}

.links .signup-button {
    display: inline-block;
}

#map-canvas {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

.directionsubmit {
    width: 500px;
    display: block;
    margin: 30px auto;
    background-color: #fff;
    -webkit-appearance: none;
}

.clicker {
    text-decoration: none;
    color: #fff;
}

.clicker:hover {
    color: #d72c2c;
    color: rgba(215,44,44,.8);
}

button a {
    text-decoration: none;
    color: #fff;
}

.signup-button,.standings-button {
    text-align: center;
    padding: 40px;
}

a.standings-button {
    padding: 30px;
    margin: 30px auto;
    background-color: #d72c2c;
    background: rgba(215,44,44,.9);
    border-radius: 5px;
    color: #fff;
    font-family: 'Exo 2',sans-serif;
    transition: background-color .5s ease;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
}

a.standings-button:hover {
    box-shadow: 0 0 23px #fff;
    cursor: pointer;
    transition: .4s ease;
    color: #fff;
}

#standings-table {
    margin: 30px auto 50px;
    max-width: 100%;
}

th {
    background-color: gray;
}

tbody {
    max-width: 100%;
    padding: 2px;
}

.requi#d72c2c-message,.ss-choice-label,.ss-form-heading,.ss-q-help,.ss-q-title,p {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    padding: 12px;
    font-family: 'Exo 2',sans-serif;
    text-align: center;
    font-size: 20px;
}

.requi#d72c2c-message {
    font-size: 14px;
}

.ss-choices,table#navigation-table {
    margin: 0 auto;
}

footer {
    font-family: 'Exo 2',sans-serif;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(215,44,44,.8);
}

footer a,footer p {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.border-container h1,.border-container p {
    color: #000;
    font-weight: 700;
}

.hotel-container {
    width: 90%;
    margin: 0 auto;
}

.hotel-selection {
    width: 70%;
    margin: 0 auto;
}

.border-container {
    background-color: #83b1f6;
    width: 100%;
    text-align: center;
}

#photo-block {
    margin: 20px auto!important;
    width: 100%;
    text-align: center;
}

.border-container p {
    font-size: 16px;
    text-shadow: none;
    padding: 20px;
}

.border-container img {
    width: 70%;
    height: 20%;
    padding: 10%;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1) translateY(2000px);
        -ms-transform: scale(.1) translateY(2000px);
        transform: scale(.1) translateY(2000px);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(.475) translateY(-60px);
        -ms-transform: scale(.475) translateY(-60px);
        transform: scale(.475) translateY(-60px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.zoomInUp {
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
}

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 100px 0 0;
    width: 76%;
}

.bx-wrapper img {
    width: 100%;
    display: block;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 5px solid #fff;
    left: -5px;
    background: #fff;
}

.bx-wrapper .bx-controls-auto,.bx-wrapper .bx-pager {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../img/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #d72c2c;
    padding-top: 20px;
}

.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager .bx-pager-item {
    zoom:1;display: inline;
    color: #d72c2c;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #d72c2c;
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: gray;
}

ul.bx-slider {
    display: block;
    float: none;
    position: absolute;
    max-width: 100%;
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/controls.png) 0 -32px no-repeat;;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/controls.png) -43px -32px no-repeat;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    outline: 0;
    width: 42px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start.active,.bx-wrapper .bx-controls-auto .bx-start:hover {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop.active,.bx-wrapper .bx-controls-auto .bx-stop:hover {
    background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 12px;
    left: 4px;
    background: rgba(80,80,80,.75);
    width: 99%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: 'Exo 2',sans-serif;
    display: block;
    font-size: .85em;
    padding: 10px;
    text-align: center;
}

@media only screen and (min-width: 581px) and (max-width:801px) {
    nav ul {
        font-size:13px;
    }

    nav li:hover {
        text-shadow: none;
        text-decoration: none;
        background: #d72c2c;
        background: rgba(215,44,44,.8);
        width: auto;
        height: 53px;
    }

    .food,.hotels,.sights {
        height: auto;
        width: 348px;
        background: #d72c2c;
        background: rgba(215,44,44,.8);
        border-radius: 3px;
        display: block;
        text-align: center;
        margin: 0 auto 20px;
        font-size: 24px;
    }

    .attractions a {
        font-size: 20px;
    }

    .attractions h6 {
        padding: 10px;
        font-size: 24px;
    }

    .attractions li {
        padding: 3px;
    }

    .tabs-nav a {
        font-size: 8px;
        width: 70px;
        color: #000;
    }
}

@media only screen and (max-width: 580px) {
    .icon-menu,header {
        position:relative;
    }

    .INFO h3,.INFO h6,.logo h1 {
        font-family: 'Exo 2',sans-serif;
        font-weight: 700;
    }

    .NSTlogo {
        width: 200px;
        height: 200px;
    }

    nav {
        background: gray;
        background: rgba(0,0,0,.6);
        display: inline-block;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    nav ul {
        width: 100%;
        line-height: 4;
    }

    nav li {
        display: inline;
        font-size: 12px;
        padding: 2px;
    }

    nav li:hover {
        color: #d72c2c;
        color: rgba(215,44,44,.8);
    }

    nav a {
        font-size: 11px;
    }

    .icon-menu {
        top: 0;
    }

    .registration,.tourney,.who,header {
        height: auto;
        background-size: cover;
        background-position: center center;
    }

    header {
        height: auto;
        font-family: 'Exo 2',sans-serif;
        background-size: cover;
    }

    .registration {
        background: url(../img/hockeypic04.jpg) center top no-repeat;
        background-size: cover;
    }

    h2 {
        padding: 30px;
    }

    .INFO h3,.logo h1 {
        font-size: 20px;
    }

    .INFO h6 {
        font-size: 14px;
    }

    .tabs-nav a {
        font-size: 5px;
        width: 42.5px;
        color: #000;
    }

    .tabs-nav .tab-active a {
        background: #fff;
        border-bottom-color: transparent;
        color: #d72c2c;
        color: rgba(215,44,44,.8);
        cursor: default;
    }

    .tournament-schedule ul {
        width: 240px;
    }

    .tournament-schedule a {
        font-size: 16px;
    }

    .registration {
        width: 100%;
    }

    .application {
        width: auto;
        min-height: 100%;
    }

    .food,.hotels,.sights {
        height: auto;
        margin: 0 auto 50px;
    }

    .hotels a {
        font-size: 12px;
    }

    .features {
        margin: 40px auto;
        background: #d72c2c;
        background: rgba(215,44,44,.8);
        padding: 10px;
        border-radius: 6px;
        font-size: 14px;
        width: 80%;
    }

    .attractions a {
        font-size: 20px;
    }

    .attractions h6 {
        padding: 10px;
        font-size: 24px;
    }

    fieldset {
        text-align: center;
        width: 75%;
    }

    fieldset h1 {
        padding: 0!important;
        margin-bottom: 30px;
    }

    .attractions li {
        padding: 3px;
    }

    .teamphoto {
        width: 50%;
    }

    #map-canvas {
        width: 71%;
    }

    .directionsubmit {
        width: 50%;
    }

    #teamphoto {
        width: inherit;
        max-width: 100%;
    }

    .meettheteam h3 {
        font-size: 15px;
    }

    .purp {
        margin: 0;
    }

    .tournament h1 {
        font-size: 16px;
    }

    .ss-form-container {
        width: 75%;
        height: auto;
    }

    .required-message {
        font-size: 14px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }

    h1.ss-form-title {
        font-size: 1em;
        text-align: center;
        text-shadow: 2px 2px 2px #000;
    }

    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        outline: 0;
        width: 42px;
        text-indent: -9999px;
        z-index: 9999;
    }

    .bx-wrapper .bx-caption {
        position: absolute;
        bottom: 12px;
        left: 3px;
        background: rgba(80,80,80,.75);
        width: 98%;
    }

    .ss-choices {
        width: 100%;
    }

    .ss-choice-item {
        text-align: left;
        margin-left: 18%;
    }

    .border-container h1 {
        font-size: 20px;
    }

    .tournament-schedule button {
        width: 120px;
        font-size: 15px;
        padding: 30px;
    }

    .tournament-schedule li {
        padding: 10px;
    }

    .rent-ice {
        margin: 0 auto;
        background: rgba(215,44,44,.8);
    }

    .bx-wrapper {
        width: 100%;
        padding-top: 50px;
    }

    .bx-wrapper .bx-viewport {
        left: 0;
    }

    .bx-wrapper .bx-controls-direction a {
        margin-top: 0;
    }

    .ss-choice-label {
        font-size: 15px;
    }

    .payment input {
        width: 200px;
    }

    .paypal-button select {
        width: 100%;
    }

    select {
        font-size: 12px;
        padding: 12px;
        background-position: calc(100% - 20px) calc(1em + 6px),calc(100% - 15px) calc(1em + 6px),calc(100% - 2.5em) 1em;
    }
}

@media only screen and (max-width: 760px),(min-device-width:768px) and (max-device-width:1024px) {
    table,tbody,td,th,thead,tr {
        display:block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin: 5px auto 30px;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 2% 0 2% 50%!important;
        margin: 22px auto 0;
        width: 100%!important;
    }

    td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "TIME";
    }

    td:nth-of-type(2):before {
        content: "RINK";
    }

    td:nth-of-type(3):before {
        content: "GAME";
    }

    td:nth-of-type(4):before {
        content: "VISITORS";
    }

    td:nth-of-type(5):before,td:nth-of-type(8):before {
        content: "SCORE";
    }

    td:nth-of-type(6):before,td:nth-of-type(9):before {
        content: "POINTS";
    }

    td:nth-of-type(7):before {
        content: "HOME";
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width:1024px) {
    body {
        width:auto;
    }
}*/
